// Functions
@import "../../node_modules/bootstrap/scss/functions";

// Default Variables
$dark: #003049;
$light: #fcfcff;
$primary: #fcbf49;
$turquoise: #2ab7ca;

$focus-ring-width: .25rem;
$focus-ring-opacity: .25;
$focus-ring-color: rgba($turquoise, $focus-ring-opacity);
$focus-ring-blur: 0;
$focus-ring-box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color;

$form-check-input-checked-color: $light;
$form-check-input-checked-bg-color: $primary;
$form-check-input-focus-border: $primary;
$form-check-input-focus-box-shadow: $focus-ring-box-shadow;

$input-focus-border-color: $turquoise;

// Required Stylesheets
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// Optional Components
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/card";

// Utilities API
@import "../../node_modules/bootstrap/scss/utilities/api";

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=McLaren&display=swap');

// Additional Style Declarations
#header {
    background-color: $dark;
    color: $light;
    height: 10vh;
}

a {
    color: $turquoise;
    transition: color 500ms;
    text-decoration: none;
}

a:hover {
    color: $dark;
    transition: color 500ms;
}

.nav-link {
    color: $light;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 1.5rem;
    display: inline-block;
    padding: 0px 30px;
    border-left: $light 1px solid;
}

.testimonial-img {
    border-bottom: $card-border-width $card-border-color solid;
}

body {
    font-family: McLaren, sans-serif;
    color: $dark;
    background-color: $light;
}

.testimonial {
    background-color: $primary;
    color: $dark;

}

h2 {
    font-family: 'Luckiest Guy', sans-serif;
}

i {
    color: $turquoise;
}

footer {
    color: $light;
    background-color: $dark;
}

label {
    font-size: .9rem;
}