// Functions
@import "../../node_modules/bootstrap/scss/functions";

// Default Variables
$dark: #003049;
$light: #fcfcff;


// Required Stylesheets
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// Optional Components
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/navbar";

// Utilities API
@import "../../node_modules/bootstrap/scss/utilities/api";

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=McLaren&display=swap');

// Additional Style Declarations
#header {
    background-color: $dark;
    color: $light;
    height: 10vh;
}

.nav-link {
    color: $light;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 1.5rem;
    display: inline-block;
    padding: 0px 30px;
    border-left: $light 1px solid;
}

body {
    font-family: McLaren, sans-serif;
    color: $dark;
    background-color: $light;
}